<ion-view view-title="Login">
  <ion-content class="padding energized-bg">

  <div class="buffer" style="height:120px;"></div>
    <h1 align="center" class="light">Artsy Clone</h1>
    <div class="row">
      <div class="col col-33 col-offset-33">
        <button ng-click="emailLogin()" style="width:100%; padding:3%; background-color:transparent; border:1px white solid; border-radius:50%;">
          <i style="font-size:50px;" class="ion-ios-email light"></i>
        </button>
      </div>
    </div>
    
  </ion-content>
</ion-view>
