<ion-view view-title="Photo">
  <ion-content>
    <ion-list>

      <form ng-submit="button(product)" class="list">

        <div class="row">

          <div class="col col-33">
              <img style="width: 150px; height: 150px;" ng-src="{{imgURI}}">
          </div>

          <div class="col col-50 col-offset-10">
            <label class="item item-input inputUpload">
              <input type="text" ng-model="product.name" placeholder="Product Name">
            </label>
            <label class="item item-input inputUpload Top">
              <input type="text" ng-model="product.tagline" placeholder="Tagline">
            </label>
            <label class="item item-input inputUpload Top">
              <input type="text" ng-model="product.price" placeholder="Price">
            </label>
          </div>

        </div>

        <label class="item item-input inputUpload Top">
          <input type="text" ng-model="product.description" placeholder="Description">
        </label>          
        
        <br/>
        <div class="row">
          <div class="col col-90 col-offset-10">
            <button type="submit" class="button button-block button-positive">
          Submit
        </button>
          </div>
        </div>
        

      </form>

    </ion-list>
  </ion-content>
</ion-view>
